body {
  background-color: black;
  margin: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

header {
  margin: 20px;
}

header img {
  width: 12em;
  margin: 10px 10px;
}

.picture-container {
  display: inline-block;
  font-size: 0px;
  width: 100%
}

.commercial-container {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0px;
}

.wedding-container {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0px;
}


.picture-container img {
  margin: 0px;
  padding: 0px;
  width: 100%;
}


#commercial-text, #wedding-text {
  font-size: 3rem;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  left: 0%;
  top: 40%;
  bottom: 80%;
}


footer {
  padding: 2em 2em;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5em;
}

@media only screen and (min-width: 768px) {
  .commercial-container, .wedding-container {
    display: inline-block;
    width: 50%;
  }
  .picture-container img {
    width: 100%;
  }
  }





