:root {
  --opaque-black: rgba(0,0,0, 0.7);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 1.25em;
  overscroll-behavior: none;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  line-height: 1em;
}

/* Header och navigation för dator */
header {
  height: 100VH;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header-bar {
  position: fixed;
  display: block;
  width: 100%;
  top: 0%;
  background-color: var(--opaque-black);
  z-index: 1;
  transition: top 0.3s;
}


/* Logga i header */
header img {
  display: inline-block;
  vertical-align: top;
  height: 4VH;
  padding: 10px 10px;
  z-index: 1;
}

/* Menyknapp på mobil */
.menu-button {
  float: right;
  display: block;
  height: 4VH;
  padding: 5px 10px;
  font-size: 6VH;
}

.menu-button:hover {
  cursor: pointer;
}

/* Navigationsknappar */
.nav-bar-item {
  display: none;
  float: right;
  height: 4VH;
  padding: 10px 10px;
}

.header-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar-item:hover {
  background-color: rgb(25, 25, 25);
}

#background-video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Navigation för mobil */
.nav-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--opaque-black);
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(8px);
}

.nav-overlay .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3.6em;
  text-decoration: none;
  color: white;
}

.nav-overlay-content {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  transition: 0.5s;
}

.nav-overlay-content a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.nav-overlay-content a:hover {
  color: rgb(54, 54, 54);
}

/* Justerar skrollningen vid länk till samma sida */
.anchor {
  display: block;
  position: relative;
  top: -5.5VH;
  visibility: hidden;
}

/* Budskap, kvalitet och produkter */
.message, .quality, .possibility {
  padding: 10px 20px 10px 20px;
  min-height: 20em;
}

.quality {
  min-height: 15em;
}

.message img, .possibility img {
  margin: 20px 20px 10px 0px;
  width: 100%;
  float: left;
}

.quality img {
  margin: 20px 0px 10px 0px;
  width: 100%;
  float: right;
}

/* Utvalda projekt */

.videos {
  clear: both;
  width: 100%;
  min-height: 20em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.videos .video-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 15px 15px;
}

.videos .video-wrap iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Tidigare samarbeten */
.partners {
  text-align: center;
}

.partners img {
  width: 80%;
}

.partners .computer {
  display: None;
}

/* Om oss */
.staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.staff img {
  margin: 10px 10px;
  width: 40%;
}

.staff .text {
  padding-left: 10%;
  padding-right: 10%;
}



/* Vårt ideella arbete */
.free-projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.free-projects .video-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 15px 15px;
}

.free-projects .video-wrap iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.free-projects .text {
  margin-left: 10%;
  margin-right: 10%;
}

/* Kontakta oss  */
.contact {
  display: flex;
  flex-wrap: wrap;
}


.contact .text {
  width:100VW;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
}

.contact .text h1 {
  text-align: left;
}

#name, #email, #message {
  margin-top:10px;
}

.contact .form {
  display: flex;
  align-items: center;
  width: 100VW;
  margin: 0 10%;
}

.contact form {
  display: grid;
  text-align: left;
  row-gap: 0px;
  width: 100%;
}

.contact input, .contact textarea {
  border-style: solid;
  border-radius: 6px;
  border-color: white;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: inherit;
}

.contact textarea {
  font-family: 'Montserrat', sans serif;
  resize: none;
}

#send-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  width: 10em;
  border-radius: 0px;
  color: #000000;
  background-color: #ffffff;

}

.form-hide {
  display: none !important;
}

/* Fix for button on mobile devices */
input, button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

#send-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: 2px solid white;
}

footer {
  padding: 2em 2em;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5em;
}




@media only screen and (min-width: 768px) {
  .message img, .quality img, .possibility img {
    margin-left: 20px;
    margin-right: 20px;
    width: 25em;
  }

  .possibility img {
    margin-right: 40px;
  }
  .possibility ul {
    column-count: 2;
    clear: both;
  }

  .projects .video-wrap, .free-projects .video-wrap {
      width: 40%;
      position: relative;
      overflow: hidden;
      padding-top: 22.5%;
      margin: 15px 15px;
  }

  .partners .computer {
    display: block;
  }

  .partners .mobile {
    display: None;
  }

  .partners img {
    width: 100%;
  }

  .staff img {
    width: 30%;
  }

  .contact .text {
    width: 30%;
  }

  .contact .form {
    width: 30%;
  }
}


@media only screen and (min-width: 1100px) {
  /* Navigationsmenyer */
  .menu-button {
    display: none;
  }

  .nav-bar-item {
    display: block;
  }

  .message img, .quality img, .possibility img {
    margin-left: 30px;
    margin-right: 50px;
  }

  .message .text {
    margin-left: 30px;
    margin-right: 30px;
  }

  .quality img {
    margin-left: 150px;
  }

  .quality .text {
    margin-left: 30px;
  }

  .possibility ul {
    clear: none;
    column-count: 1
  }

  .projects iframe {
    width: 560px;
    height: 315px;
  }


}

/* Ordkarusell */
.word-wrap {
  position: relative;
  width: 100%;
  top: 40%;
}

.sentence{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  line-height: 1em;
  font-size: 2.5em;
  color: white;
  z-index: 1;
}

.constant_words {
  z-index: 1;
}


/*Vertical Sliding*/
.slidingVertical{
  display: flex;
  justify-content: center;
  width: 5.3em;
	text-indent: 10px;
}
.slidingVertical span{
	animation: topToBottom 10s linear infinite 0s;
	-ms-animation: topToBottom 10s linear infinite 0s;
	-webkit-animation: topToBottom 10s linear infinite 0s;
	color: #ffffff;
	opacity: 0;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}


.word-wrap {
  -webkit-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

@media only screen and (min-width: 464px) {
  .slidingVertical {
    display: block;
  }
}

@media only screen and (min-width: 627px) {
  .sentence {
    font-size: 3rem;
  }

  .slidingVertical {
    display: block;
  }
}


/*topToBottom Animation*/
@keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateY(-50px) scale(0.8,0.8) rotateX(-90deg); }
	10% { opacity: 1; transform: translateY(0px) scale(1,1) rotateX(0deg); }
	25% { opacity: 1; transform: translateY(0px) scale(1,1) rotateX(0deg); }
	30% { opacity: 0; transform: translateY(50px) scale(0.8,0.8) rotateX(90deg); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px) scale(0.8,0.8) rotateX(-90deg); }
	10% { opacity: 1; -moz-transform: translateY(0px) scale(1,1) rotateX(0deg); }
	25% { opacity: 1; -moz-transform: translateY(0px) scale(1,1) rotateX(0deg); }
	30% { opacity: 0; -moz-transform: translateY(50px) scale(0.8,0.8) rotateX(90deg); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px) scale(0.8,0.8) rotateX(-90deg)}
	10% { opacity: 1; -webkit-transform: translateY(0px) scale(1,1) rotateX(0deg)}
	25% { opacity: 1; -webkit-transform: translateY(0px) scale(1,1) rotateX(0deg)}
	30% { opacity: 0; -webkit-transform: translateY(50px) scale(0.8,0.8) rotateX(90deg)}
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px) scale(0.8,0.8) rotateX(-90deg); }
	10% { opacity: 1; -ms-transform: translateY(0px) scale(1,1) rotateX(0deg); }
	25% { opacity: 1; -ms-transform: translateY(0px) scale(1,1) rotateX(0deg); }
	30% { opacity: 0; -ms-transform: translateY(50px) scale(0.8,0.8) rotateX(90deg); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
