body {
  background-color: black;
  margin: 0px
}

header img {
  width: 15em;
  margin: 10px 10px
}

.picture-container {
  display: inline-block;
  font-size: 0px;
}

.picture-container img {
  margin: 0px;
  padding: 0px;
  width: 50%;
}
