body {
  background-color: black;
  margin: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

header {
  height: 10vh;
  position: relative;
}

header img {
  display: inline-block;
  position: absolute;
  height: 4VH;
  top: calc(50% - 2vh);
  margin: 0px 10px;
  z-index: 10;
}

.picture-container {
  display: inline-block;
  font-size: 0px;
  width: 100%;
  overflow: hidden;
}

.commercial-container {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0px;
  filter: grayscale(100%);
}

.wedding-container {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0px;
  filter: grayscale(100%);
}

.commercial-container:hover {
  z-index: 1;
  transition: all .2s ease-in-out; 
  box-shadow: 0 0 20px rgba(204, 204, 204, 0.4);
  filter: grayscale(0);
}

.wedding-container:hover {
  z-index: 1;
  transition: all .2s ease-in-out; 
  box-shadow: 0 0 20px rgba(204, 204, 204, 0.4);
  filter: grayscale(0);
}

.picture-container img {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

footer img:hover {
  transition: all .2s ease-in-out; 
  transform: scale(1.2);
}

#commercial-text, #wedding-text {
  font-size: 3rem;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  left: 0%;
  top: 40%;
  bottom: 80%;
}


footer {
  padding: 2em 2em;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5em;
}

footer img {
  height: 2em;
  margin: 10px 10px;
}


@media only screen and (min-width: 768px) {
  .commercial-container, .wedding-container {
    display: inline-block;
    width: 50%;
  }
  .picture-container img {
    width: 100%;
  }
  }





